<section class="aboutus white-background black" id='about-wug'>
   <div class="container">
     <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="title">COMO <span class="themecolor">FAZEMOS</span>?</h3>
        <p class="a-slog">Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty</p>
      </div>
     </div>

     <div class="gap"></div>

     <div class="row about-box">
      <div class="col-sm-4 text-center">
        <div class="margin-bottom">
          <i class="fa fa-newspaper-o"></i>
          <h4>CAMPEONATOS E GAME JAMS</h4>
          <p class="black">Organizamos dias especiais, só para jogarmos videogames e conhecermos outras meninas que também gostam de jogos! Alguns desses eventos têm premiações, como acontece nos campeonatos. Todos têm diversão garantida! :D</p>
        </div>
      </div>
      <div class="col-sm-4 about-line text-center">
        <div class="margin-bottom">
          <i class="fa fa-diamond"></i>
          <h4>CURSOS E WORKSHOPS</h4>
          <p class="black">Damos aulas teóricas e prática sobre diversos conceitos interessantes para quem quer entrar no mercado de desenvolvimento de games. Alguns assuntos que já abordamos, por exemplo, são a construção de arcades por arduíno, design de games e ilustração de personagens. Sempre chamamos especialistas no tema e indicamos o nível de dificuldade da atividade!</p>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="margin-bottom">
          <i class="fa fa-area-chart"></i>
          <h4>PALESTRAS</h4>
          <p class="black">Como anda a representatividade feminina no mundo da tecnologia - e especialmente dos games? Se você quer saber e tirar suas dúvidas, não perca as palestras da Women Up Games sobre o tema! Já estivemos em locais como a Anime Friends, o BIG Festival e o Google Campus, por exemplo.</p>
        </div>
      </div>
    </div>

  </div>
</section>
