<section class="main-heading" id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="main-heading-content col-md-12 col-sm-12 text-center">
          <h1 class="main-heading-title"><span class="typing-words wug-text-grad" data-elements="Quem somos?,O que fazemos?,Nossa missão?"></span></h1>
          <p class="main-heading-text-title"><strong>Nossa missão é conectar mulheres ao mundo dos games!</strong></p>
          <p class="main-heading-text">Provavelmente, você já sabe que as mulheres sofrem muito preconceito ao entrarem no universo dos games. Isso se traduz em uma triste realidade: mesmo que mais da metade dos jogadores sejam, na verdade, jogadoras, apenas 10% dos jogos digitais brasileiros são produzidos por desenvolvedoras. Por isso, queremos incluir mais mulheres nesse mundo: desde aquelas que sonham ter uma carreira relacionada aos games até aquelas que só querem ser o player 1 sem sofrer nenhum tipo de preconceito. Seja benvinda à Women Up Games!</p>
          <div class="btn-bar">
            <a href="#" class="btn-custom">Get Started</a>
            <a href="#" class="btn-custom-outline">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
