<section class="main-heading" id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="main-heading-content col-md-12 col-sm-12 text-center">
          <h1 class="main-heading-title"><span class="typing-words wug-text-grad" data-elements="Quem somos?,O que fazemos?,Nossa missão?"></span></h1>
          <p class="main-heading-text">Nossa missão é conectar mulheres ao mundo dos games!</p>
          <div class="btn-bar">
            <a href="#" class="btn-custom">Get Started</a>
            <a href="#" class="btn-custom-outline">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
