<section class="recent-works text-center grad-wug" id="two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <h3 class="title">Eventos da <span class="themecolor">WUG</span></h3>
        <p class="a-slog">Palestras, painéis de debate, workshops, Game Days...</p>
      </div>
    </div>

    <div class="gap"></div>

    <div class="row">
      <div class="col-sm-4 port-item margin-bottom">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light item-img-wrap">
            <img class="activator img-responsive" src="images/event-1.jpg">
            <div class="item-img-overlay">
              <a href="images/event-1.jpg" class="show-image">
                <span></span>
              </a>
            </div>
          </div>
          <div class="card-content">
            <span class="card-title activator">Mulheres Tech Day<i class="fa fa-ellipsis-v right"></i></span>
            <span class="card-date">Março de 2016</span>
          </div>
          <div class="card-reveal">
            <span class="card-title">Mulheres Tech Day<i class="fa fa-times right"></i></span>
            <p>
              O Mulheres Tech Day é um evento de tecnologia voltado para o público feminino de todas as idades.
              Durante um dia inteiro de atividades, meninas, adolescentes e mulheres puderam participar de palestras e workshops.
              A Women Up Games marcou sua presença no evento com um workshop de ilustração e um campeonato de Street Fighter exclusivo para mulheres.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 port-item margin-bottom">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light item-img-wrap">
            <img class="activator img-responsive" src="images/event-2.jpg">
            <div class="item-img-overlay">
              <a href="images/event-2.jpg" class="show-image">
                <span></span>
              </a>
            </div>
          </div>
          <div class="card-content">
            <span class="card-title activator">Arcade para elas!<i class="fa fa-ellipsis-v right"></i></span>
            <span class="card-date">Abril de 2016</span>
          </div>
          <div class="card-reveal">
            <span class="card-title">Arcade para elas!<i class="fa fa-times right"></i></span>
            <p>
              O Mulheres Tech Day é um evento de tecnologia voltado para o público feminino de todas as idades.
              Durante um dia inteiro de atividades, meninas, adolescentes e mulheres puderam participar de palestras e workshops.
              A Women Up Games marcou sua presença no evento com um workshop de ilustração e um campeonato de Street Fighter exclusivo para mulheres.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 port-item margin-bottom">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light item-img-wrap">
            <img class="activator img-responsive" src="images/event-3.jpg">
            <div class="item-img-overlay">
              <a href="images/event-3.jpg" class="show-image">
                <span></span>
              </a>
            </div>
          </div>
          <div class="card-content">
            <span class="card-title activator">Mulheres e Games<i class="fa fa-ellipsis-v right"></i></span>
            <span class="card-date">Agosto de 2016</span>
          </div>
          <div class="card-reveal">
            <span class="card-title">Mulheres e Games<i class="fa fa-times right"></i></span>
            <p>
              O Mulheres Tech Day é um evento de tecnologia voltado para o público feminino de todas as idades.
              Durante um dia inteiro de atividades, meninas, adolescentes e mulheres puderam participar de palestras e workshops.
              A Women Up Games marcou sua presença no evento com um workshop de ilustração e um campeonato de Street Fighter exclusivo para mulheres.
            </p>
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <a href="#" class="btn-custom">Veja mais</a>
      </div>
    </div>
  </div>
</section>
