<section class="our-stats" id="five">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-stats-box text-center">
          <div class="our-stat-icon">
            <span class="fa fa-gamepad"></span>
          </div>
          <div class="our-stat-info">
            <span class="stats" data-from="4763904" data-to="4764504" data-speed="5000"
                  data-refresh-interval="50"></span>
            <h5>Participantes de campeonatos</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-stats-box text-center">
          <div class="our-stat-icon">
            <span class="fa fa-paint-brush"></span>
          </div>
          <div class="our-stat-info">
            <span class="stats" data-from="1" data-to="504" data-speed="5000"
                  data-refresh-interval="50"></span>
            <h5>Total de paineis</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-stats-box text-center">
          <div class="our-stat-icon">
            <span class="fa fa-female"></span>
          </div>
          <div class="our-stat-info">
            <span class="stats" data-from="1" data-to="359" data-speed="5000"
                  data-refresh-interval="50"></span>
            <h5>Mulheres empoderadas</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-stats-box text-center">
          <div class="our-stat-icon">
            <span class="fa fa-graduation-cap"></span>
          </div>
          <div class="our-stat-info">
            <span class="stats" data-from="3500" data-to="5000" data-speed="5000"
                  data-refresh-interval="50"></span>
            <h5>Total de workshops</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
