<section class="team-wug white-background black" id="three">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h3 class="title">Quem <span class="themecolor">Somos</span></h3>
        <p class="a-slog">Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-sm-3">
        <img src="images/ari.jpg" alt="CEO and Fundadora" class="img-responsive img-circle img-management">
        <h4>Ariane Parra</h4>
        <h5>CEO & Fundadora</h5>
        <p>
          Influenciadora digital, empreendedora, designer de games e encantada por esse mundo.
          Formanda em Engenharia de Produção pela PUC-SP. Cursou e certificou-se em Gestão e Liderança pela Universidade de Pittsburgh - EUA (Management and Leadership Program) em 2009, parceria com a Universidade Presbiteriana Mackenzie.
          É mentora de empreendedoras em eventos influentes de tecnologia, palestrante e participante ativa em painéis e debates favorecendo o empoderamento de mulheres através da tecnologia, representando a classe feminina no setor de games.
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <img src="images/ari.jpg" alt="Gestora de Conhecimento" class="img-responsive img-circle img-management">
        <h4>Izadora Perkoski</h4>
        <h5>Gestora de Conhecimento</h5>
        <p>
          Bacharel em Psicologia, mestre em Análise do Comportamento pela Universidade Estadual de Londrina - UEL, com dissertação voltada para o desenvolvimento de jogos educativos, junto ao Laboratório de Avaliação e Desenvolvimento de Jogos Educativos (LADEJE). Trabalha principalmente em consultoria para o uso de jogos como ferramenta de ensino e na sistematização de procedimentos para o desenvolvimento e avaliação de jogos educativos.
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <img src="images/emi.jpg" alt="Gestora de Comunidade" class="img-responsive img-circle img-management">
        <h4>Gabriela Emi Sanada</h4>
        <h5>Gestora de Comunidade</h5>
        <p>
          Apaixonada por Games desde sua infância, sempre sonhou em ser desenvolvedora de jogos Indies, no entanto tomou um caminho um pouco diferente ao se tornar desenvolvedora Ruby, o que não significa que seu sonho foi esquecido.
          Atualmente está se graduando em Sistemas de Informação pela FIAP e atuando ativamente na comunidade desenvolvedora (especialmente as de empoderamento feminino).
        </p>
        <ul class="list-inline top20">
          <li><a href="https://twitter.com/emi_sanada"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://github.com/emisanada"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <img src="images/mari.jpg" alt="Gestora de Imprensa e Audiovisual" class="img-responsive img-circle img-management">
        <h4>Mariana Fonseca</h4>
        <h5>Gestora de Imprensa e Audiovisual</h5>
        <p>
          É (mais uma) eterna aprendiz de como descobrir e contar histórias. Para cumprir essa quest, está sempre misturando gêneros: jornalismo, literatura e — claro — games. Enquanto tenta trazer mais humanidade ao jornalismo econômico, procura jogos com um storytelling emocionante. Mas topa fazer uns strikes no Destiny porque ninguém é de ferro, né?
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="row text-center top20">
      <div class="col-sm-3"></div>

      <div class="col-sm-3">
        <img src="images/naka.jpg" alt="Gestora de Marketing" class="img-responsive img-circle img-management">
        <h4>Gabriela Nakamura</h4>
        <h5>Gestora de Marketing</h5>
        <p>
          Graduanda em Publicidade e Propaganda pela Anhembi Morumbi, morou muitos anos no Japão mas prefere a vida louca e difícil do Brasil. Trabalhava como tradutora de japonês e demorou a entender que sua veia de comunicação não era na tradução. O primeiro contato com games foi com o Mega Drive aos 3 anos e desde então o amor só cresce. Apaixonada por tecnologia, comida, animais e praia.
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-3">
        <img src="images/ami.jpg" alt="Voluntária" class="img-responsive img-circle img-management">
        <h4>Ami Garcia</h4>
        <h5>Fã de FPS</h5>
        <p>
          Gaúcha, 21 anos e viciada em games desde 3 anos de idade. Trabalha como Game Designer e desenvolvedora iOS. Começou jogando Doom e desde lá seu amor por FPS só aumentou, atualmente tem um time de CS:GO feminino. Seu sonho é ver mais mulheres no mundo dos games e principalmente que sejam respeitadas e tratadas igualmente.
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-3"></div>
    </div>

    <div class="row text-center top20">
      <div class="col-md-12">
        <h3 class="title"><span class="themecolor">WUG</span>ERS</h3>
        <p class="a-slog">Conheça as nossas voluntárias, que fazem a diferença conosco!</p>
      </div>
    </div>

    <div class="row text-center top20">
      <div class="col-sm-2">
        <img src="images/josi.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
        <h4>Josi Reis</h4>
        <h5>Nossa animadora</h5>
        <p>
          Animadora, ilustradora e comunicadora visual. Formada em Animação no Centro de Audiovisual e estudante de Rádio, Tv e Internet na UMESP segue animando e criando a parte visual dos projetos por ai.
          Animação 2D é seu estilo preferido, é amante do Studio Ghibli, feminista, gamer e adora o cinema dos irmãos Cohen e do Wes Anderson.
          Almeja trabalhar com Direção de Arte, clipes e séries de animação.
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <img src="images/vic.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
        <h4>Victoria Machado</h4>
        <h5>A fã #1 de Pokémon GO</h5>
        <p>
          Curiosa e adoradora de computadores desde criança, apaixonou à primeira vista pela programação em 2011. Cosplayer que coleciona muitos mangás e possui muito interesse em tecnologia, empoderamento, Playable City e jogos, principalmente MOBA.
          Formada em Técnica de Informática pela ETEC Camargo Aranha e prestes a se formar como Tecnóloga de Desenvolvimento de Jogos Digitais pela FIAP. É estagiária de programação, inovação e gamificação na SKY Brasil.
          Sonha em criar jogos que divirtam as pessoas ao redor do mundo.
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <img src="images/ari.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
        <h4>Manuela Reis</h4>
        <h5>Gamer desde pequenininha</h5>
        <p>
          Manuela é gamer e desde a infância, apaixonada por exatas, aos quinze anos se dedicou a aprender desenho e programação. Envolvida por completo com arte e lógica se formou em Jogos Digitais pela Universidade Cruzeiro do Sul e se especializou em programação de jogos pela PUC. Hoje trabalha na Avido, como programadora de jogos para smartphones e tablets.
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <img src="images/marina.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
        <h4>Marina Fujihara</h4>
        <h5>Gamer desde pequenininha</h5>
        <p>
          Manuela é gamer e desde a infância, apaixonada por exatas, aos quinze anos se dedicou a aprender desenho e programação. Envolvida por completo com arte e lógica se formou em Jogos Digitais pela Universidade Cruzeiro do Sul e se especializou em programação de jogos pela PUC. Hoje trabalha na Avido, como programadora de jogos para smartphones e tablets.
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <img src="images/ari.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
        <h4>Míriam Castro (Mikannn)</h4>
        <h5>A Youtuber mais WUGER do Brasil</h5>
        <p>
          Jornalista por formação, escreve sobre games e cultura pop desde 2011, com passagem por veículos como Mundo Estranho e Omelete. Hoje, além de matérias sobre o assunto, faz vídeos no canal Mikannn no YouTube. <a href="http://youtube.com/mikannn ">http://youtube.com/mikannn</a>
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

      <div class="col-sm-2">
        <img src="images/ari.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
        <h4>Bi Aguiart</h4>
        <h5>A Super Ilustradora</h5>
        <p>
          Animadora formada pelo Centro Universitário Senac e completamente apaixonada por qualquer tipo de manifestação artística seja em games, animações, quadrinhos, design gráfico e de marca. Atualmente atuo como ilustradora em E-learning na empresa Mentes Notaveis e como freelancer nas horas livres.
        </p>
        <ul class="list-inline top20">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>

    </div>

  </div>
</section>
