<section class="volunteering" id="volunteering">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <article class="col-md-12 text-center">
           <div class="intermediate-container">
             <div class="subheading">
               <p><span class="themecolor">Inscrições abertas</span> para voluntariado em eventos!</p>
             </div>
             <div class="heading">
               <h2>Seja <span class="themecolor">WUGER</span> você também!</h2>
               <p>Gostou tanto do nosso trabalho que também quer ser uma de nós? Ficamos muito felizes! :D É só clicar no botão ao lado e preencher algumas informações para nosso programa de voluntariado! Benvinda ao time wuger!</p>
             </div>
             <div class="subscribe">
               <a class="btn-custom-outline" href="#"><span>inscreva-se aqui!</span></a>
             </div>
           </div>
         </article>
      </div>
    </div>
  </div>
</section>
