<section class="volunteering" id="volunteering">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <article class="col-md-12 text-center">
           <div class="intermediate-container">
             <div class="subheading">
               <p class=""><span class="themecolor">Inscrições abertas</span> para voluntariado em eventos!</p>
             </div>
             <div class="heading">
               <h2>Seja <span class="themecolor">WUGER</span> você também!</h2>
             </div>
             <div class="">
               <a class="btn btn-custom-outline" href="#"><span>inscreva-se aqui!</span></a>
             </div>
           </div>
         </article>
      </div>
    </div>
  </div>
</section>
