<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=devidev-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Women Up Games - Unindo mulheres ao universo dos Jogos</title>
    <meta name="description" content="Women Up Games - Unindo mulheres ao universo dos jogos."/>
    <meta name="keywords" content="Women Up Games, Games, Women, Woman, Mulheres, Jogos, Games, Empoderamento feminino, female empowerment, campeonato" />

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Carrois+Gothic+SC|Didact+Gothic|Merienda|Press+Start+2P" rel="stylesheet">

  </head>
  <body>
    <!-- [ LOADERs ]========================================================================================================================-->
    <div class="preloader">
      <div class="loader theme_background_color">
        <span></span>
      </div>
    </div>
    <!-- [ /PRELOADER ]=====================================================================================================================-->

    <!-- [WRAPPER ]=========================================================================================================================-->
    <div class="wrapper">
      <!-- [NAV]================================================================================================================================-->
      <nav  class="nim-menu navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="" href="index.html">
              <img src="images/logo.png" alt="logo" class="img-nav-bar">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#home" class="page-scroll">Home</a></li>
              <li><a href="#one" class="page-scroll">Sobre</a></li>
              <li><a href="#two" class="page-scroll">Eventos Recentes</a></li>
              <li><a href="#three" class="page-scroll">Quem Somos</a></li>
              <li><a href="#four" class="page-scroll">Inspiration</a></li>
              <li><a href="#five" class="page-scroll">Status</a></li>
              <li><a href="#six" class="page-scroll">Testimonials</a></li>
              <li><a href="#seven" class="page-scroll">Services</a></li>
              <li><a href="#eight" class="page-scroll">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- [/NAV]============================================================================================================================-->

      <!-- [/MAIN-HEADING]===================================================================================================================-->
      <section class="main-heading" id="home">
        <div class="overlay">
          <div class="container">
            <div class="row">
              <div class="main-heading-content col-md-12 col-sm-12 text-center">
                <h1 class="main-heading-title">We are <span class="main-element wug-text-grad" data-elements="Web Developers,Creative,Ambitious"></span></h1>
                <p class="main-heading-text">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,<br/>cum soluta nobis est eligendi optio cumque nihil impedit quo facilis</p>
                <div class="btn-bar">
                  <a href="#" class="btn btn-custom theme_background_color">Get Started</a>
                  <a href="#" class="btn btn-custom-outline">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- [/MAIN-HEADING]=================================================================================================================-->

      <!-- [ABOUT US]======================================================================================================================-->
      <section class="aboutus white-background black">
         <div class="container">
           <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="title">SOBRE A <span class="themecolor">WUG</span></h3>
              <p class="a-slog">Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty</p>
            </div>
           </div>

           <div class="gap"></div>

           <div class="row about-box">
            <div class="col-sm-4 text-center">
              <div class="margin-bottom">
                <i class="fa fa-newspaper-o"></i>
                <h4>POWER OF FLEXIBILITY</h4>
                <p class="black">Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.</p>
              </div>
            </div>
            <div class="col-sm-4 about-line text-center">
              <div class="margin-bottom">
                <i class="fa fa-diamond"></i>
                <h4>FULLY RESPONSIVE</h4>
                <p class="black">Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.</p>
              </div>
            </div>
            <div class="col-sm-4 text-center">
              <div class="margin-bottom">
                <i class="fa fa-area-chart"></i>
                <h4>GREAT WEB IDEAS</h4>
                <p class="black">Nulla vitae libero pharetra augue. Etiam porta malesuada magna mollis euismod consectetur sem urdom tempus porttitor.</p>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- [/ABOUTUS]====================================================================================================================-->

      <!-- [RECENT-WORKS]================================================================================================================-->
      <section class="recent-works text-center grad-wug" id="two">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <h3 class="title">Eventos <span class="themecolor">Recentes</span></h3>
              <p class="a-slog">Palestras, painéis de debate em tecnologia e eventos realizados</p>
            </div>
          </div>

          <div class="gap"></div>

          <div class="row">
            <div class="col-sm-4 port-item margin-bottom">
              <div class="item-img-wrap">
                <img src="images/work-1.jpg" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="images/work-1.jpg" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <div class="work-desc">
                <h3><a href="#">Mockup Design</a></h3>
                <span>Photoshop</span>
              </div>
            </div>

            <div class="col-sm-4 port-item margin-bottom">
              <div class="item-img-wrap">
                <img src="images/work-2.jpg" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="images/work-2.jpg" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <div class="work-desc">
                <h3><a href="#">Graphic Design</a></h3>
                <span>Illustrator</span>
              </div>
            </div>

            <div class="col-sm-4 port-item margin-bottom">
              <div class="item-img-wrap">
                <img src="images/work-3.jpg" class="img-responsive" alt="workimg">
                <div class="item-img-overlay">
                  <a href="images/work-3.jpg" class="show-image">
                    <span></span>
                  </a>
                </div>
              </div>
              <div class="work-desc">
                <h3><a href="#">Web Design</a></h3>
                <span>Html / Css</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <a href="#" class="btn btn-custom theme_background_color">Load More</a>
            </div>
          </div>
        </div>
      </section>
       <!-- [/OUR-RECENT WORKS]=====================================================================================================-->

      <!-- [QUEM SOMOS]===========================================================================================================-->
      <section class="our-team white-background black" id="three">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h3 class="title">Quem <span class="themecolor">Somos</span></h3>
              <p class="a-slog">Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty</p>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-sm-3">
              <img src="images/gestao-comunidade.jpg" alt="CEO and Fundadora" class="img-responsive img-circle img-management">
              <h4>Ariane Parra</h4>
              <h5>CEO & Fundadora</h5>
              <p>
                Influenciadora digital, empreendedora, designer de games e encantada por esse mundo.
                Formanda em Engenharia de Produção pela PUC-SP. Cursou e certificou-se em Gestão e Liderança pela Universidade de Pittsburgh - EUA (Management and Leadership Program) em 2009, parceria com a Universidade Presbiteriana Mackenzie.
                É mentora de empreendedoras em eventos influentes de tecnologia, palestrante e participante ativa em painéis e debates favorecendo o empoderamento de mulheres através da tecnologia, representando a classe feminina no setor de games.
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-3">
              <img src="images/gestao-comunidade.jpg" alt="Gestora de Conhecimento" class="img-responsive img-circle img-management">
              <h4>Izadora Perkoski</h4>
              <h5>Gestora de Conhecimento</h5>
              <p>
                Bacharel em Psicologia, mestre em Análise do Comportamento pela Universidade Estadual de Londrina - UEL, com dissertação voltada para o desenvolvimento de jogos educativos, junto ao Laboratório de Avaliação e Desenvolvimento de Jogos Educativos (LADEJE). Trabalha principalmente em consultoria para o uso de jogos como ferramenta de ensino e na sistematização de procedimentos para o desenvolvimento e avaliação de jogos educativos.
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-3">
              <img src="images/gestao-comunidade.jpg" alt="Gestora de Comunidade" class="img-responsive img-circle img-management">
              <h4>Gabriela Emi Sanada</h4>
              <h5>Gestora de Comunidade</h5>
              <p>
                Apaixonada por Games desde sua infância, sempre sonhou em ser desenvolvedora de jogos Indies, no entanto tomou um caminho um pouco diferente ao se tornar desenvolvedora Ruby, o que não significa que seu sonho foi esquecido.
                Atualmente está se graduando em Sistemas de Informação pela FIAP e atuando ativamente na comunidade desenvolvedora (especialmente as de empoderamento feminino).
              </p>
              <ul class="list-inline top20">
                <li><a href="https://twitter.com/emi_sanada"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://github.com/emisanada"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-3">
              <img src="images/gestao-comunidade.jpg" alt="Gestora de Imprensa e Audiovisual" class="img-responsive img-circle img-management">
              <h4>Mariana Fonseca</h4>
              <h5>Gestora de Imprensa e Audiovisual</h5>
              <p>
                É (mais uma) eterna aprendiz de como descobrir e contar histórias. Para cumprir essa quest, está sempre misturando gêneros: jornalismo, literatura e — claro — games. Enquanto tenta trazer mais humanidade ao jornalismo econômico, procura jogos com um storytelling emocionante. Mas topa fazer uns strikes no Destiny porque ninguém é de ferro, né?
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="row text-center top20">
            <div class="col-sm-3"></div>

            <div class="col-sm-3">
              <img src="images/gestao-comunidade.jpg" alt="Gestora de Marketing" class="img-responsive img-circle img-management">
              <h4>Gabriela Nakamura</h4>
              <h5>Gestora de Marketing</h5>
              <p>
                Graduanda em Publicidade e Propaganda pela Anhembi Morumbi, morou muitos anos no Japão mas prefere a vida louca e difícil do Brasil. Trabalhava como tradutora de japonês e demorou a entender que sua veia de comunicação não era na tradução. O primeiro contato com games foi com o Mega Drive aos 3 anos e desde então o amor só cresce. Apaixonada por tecnologia, comida, animais e praia.
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-3">
              <img src="images/voluntaria01.jpg" alt="Voluntária" class="img-responsive img-circle img-management">
              <h4>Ami Garcia</h4>
              <h5>Fã de FPS</h5>
              <p>
                Gaúcha, 21 anos e viciada em games desde 3 anos de idade. Trabalha como Game Designer e desenvolvedora iOS. Começou jogando Doom e desde lá seu amor por FPS só aumentou, atualmente tem um time de CS:GO feminino. Seu sonho é ver mais mulheres no mundo dos games e principalmente que sejam respeitadas e tratadas igualmente.
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-3"></div>
          </div>

          <div class="row text-center top20">
            <div class="col-md-12">
              <h3 class="title"><span class="themecolor">WUG</span>ERS</h3>
              <p class="a-slog">Conheça as nossas voluntárias, que fazem a diferença conosco!</p>
            </div>
          </div>

          <div class="row text-center top20">
            <div class="col-sm-2">
              <img src="images/voluntaria02.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
              <h4>Josi Reis</h4>
              <h5>Nossa animadora</h5>
              <p>
                Animadora, ilustradora e comunicadora visual. Formada em Animação no Centro de Audiovisual e estudante de Rádio, Tv e Internet na UMESP segue animando e criando a parte visual dos projetos por ai.
                Animação 2D é seu estilo preferido, é amante do Studio Ghibli, feminista, gamer e adora o cinema dos irmãos Cohen e do Wes Anderson.
                Almeja trabalhar com Direção de Arte, clipes e séries de animação.
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-2">
              <img src="images/voluntaria01.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
              <h4>Victoria Machado</h4>
              <h5>A fã #1 de Pokémon GO</h5>
              <p>
                Curiosa e adoradora de computadores desde criança, apaixonou à primeira vista pela programação em 2011. Cosplayer que coleciona muitos mangás e possui muito interesse em tecnologia, empoderamento, Playable City e jogos, principalmente MOBA.
                Formada em Técnica de Informática pela ETEC Camargo Aranha e prestes a se formar como Tecnóloga de Desenvolvimento de Jogos Digitais pela FIAP. É estagiária de programação, inovação e gamificação na SKY Brasil.
                Sonha em criar jogos que divirtam as pessoas ao redor do mundo.
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-2">
              <img src="images/voluntaria02.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
              <h4>Manuela Reis</h4>
              <h5>Gamer desde pequenininha</h5>
              <p>
                Manuela é gamer e desde a infância, apaixonada por exatas, aos quinze anos se dedicou a aprender desenho e programação. Envolvida por completo com arte e lógica se formou em Jogos Digitais pela Universidade Cruzeiro do Sul e se especializou em programação de jogos pela PUC. Hoje trabalha na Avido, como programadora de jogos para smartphones e tablets.
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-2">
              <img src="images/voluntaria02.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
              <h4>Marina Fujihara</h4>
              <h5>Gamer desde pequenininha</h5>
              <p>
                Manuela é gamer e desde a infância, apaixonada por exatas, aos quinze anos se dedicou a aprender desenho e programação. Envolvida por completo com arte e lógica se formou em Jogos Digitais pela Universidade Cruzeiro do Sul e se especializou em programação de jogos pela PUC. Hoje trabalha na Avido, como programadora de jogos para smartphones e tablets.
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-2">
              <img src="images/voluntaria02.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
              <h4>Míriam Castro (Mikannn)</h4>
              <h5>A Youtuber mais WUGER do Brasil</h5>
              <p>
                Jornalista por formação, escreve sobre games e cultura pop desde 2011, com passagem por veículos como Mundo Estranho e Omelete. Hoje, além de matérias sobre o assunto, faz vídeos no canal Mikannn no YouTube. <a href="http://youtube.com/mikannn ">http://youtube.com/mikannn</a>
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

            <div class="col-sm-2">
              <img src="images/voluntaria02.jpg" alt="Voluntária" class="img-responsive img-circle img-volunteer">
              <h4>Bi Aguiart</h4>
              <h5>A Super Ilustradora</h5>
              <p>
                Animadora formada pelo Centro Universitário Senac e completamente apaixonada por qualquer tipo de manifestação artística seja em games, animações, quadrinhos, design gráfico e de marca. Atualmente atuo como ilustradora em E-learning na empresa Mentes Notaveis e como freelancer nas horas livres.
              </p>
              <ul class="list-inline top20">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>

          </div>

          <div class="row margin-top">
            <div class="col-md-12 text-center">
              <a href="#" class="btn btn-custom theme_background_color">We are Hiring</a>
            </div>
          </div>

        </div>
      </section>
      <!-- [/QUEM SOMOS]=========================================================================================================-->

      <!-- [INSPIRATION]=========================================================================================================-->
       <section class="inspiration" id="four">
         <div class="overlay">
           <div class="container">
             <div class="row">
               <article class="col-md-12 text-center">
                  <div class="intermediate-container">
                    <div class="subheading">
                        <h4>Are You Ready To <span class="themecolor">Enjoy?</span></h4>
                    </div>
                    <div class="heading">
                      <h2>inspire your customer here!</h2>
                    </div>
                    <div class="">
                      <a class="btn btn-custom-outline" href="#"><span>get started</span></a>
                    </div>
                  </div>
                </article>
             </div>
           </div>
         </div>
       </section>
      <!-- [/INSPIRATION]==========================================================================================================-->

      <!-- [STATS]=================================================================================================================-->
      <section class="our-stats" id="five">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="our-stats-box text-center">
                <div class="our-stat-icon">
                  <span class="fa fa-ge"></span>
                </div>
                <div class="our-stat-info">
                  <span class="stats" data-from="4763904" data-to="4764504" data-speed="5000"
                        data-refresh-interval="50"></span>

                  <h5>Total Downloaded</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="our-stats-box text-center">
                <div class="our-stat-icon">
                  <span class="fa fa-git-square"></span>
                </div>
                <div class="our-stat-info">
                  <span class="stats" data-from="1" data-to="504" data-speed="5000"
                        data-refresh-interval="50"></span>

                  <h5>Editors Supported</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="our-stats-box text-center">
                <div class="our-stat-icon">
                  <span class="fa fa-globe"></span>
                </div>
                <div class="our-stat-info">
                  <span class="stats" data-from="1" data-to="359" data-speed="5000"
                        data-refresh-interval="50"></span>

                  <h5>Languages Detected</h5>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="our-stats-box text-center">
                <div class="our-stat-icon">
                  <span class="fa fa-gears"></span>
                </div>
                <div class="our-stat-info">
                  <span class="stats" data-from="3500" data-to="5000" data-speed="5000"
                        data-refresh-interval="50"></span>

                  <h5>Happy Clients</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- [/STATS]===============================================================================================================-->

      <!-- [TESTIMONIAL]===========================================================================================================-->
      <section class="client-testimonial text-center white" id="six">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title">Client <span class="themecolor">Testimonials</span></h3>
            </div>
            <div class="col-md-8 col-md-offset-2 grey">
              <div id="testimonial" class="owl-carousel owl-theme">
                <div class="item">
                  <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                  <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                </div>

                <div class="item">
                  <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                  <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                </div>

                <div class="item">
                  <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                  <p><strong>Dean Martin</strong>, CEO Acme Inc.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- [/TESTIMONIAL]=========================================================================================================-->

      <!-- [/SERVICES]============================================================================================================-->
      <section class="services white-background black" id="seven">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
                <h3 class="title">We Are <span class="themecolor">Good In</span></h3>
              <p class="a-slog">Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty</p>
            </div>
          </div>

          <div class="gap"></div>

          <div class="row">
            <div class="col-sm-4">
              <div class="nim-service margin-bottom">
                <i class="fa fa-diamond"></i>
                <div class="nim-service-detail">
                  <h4>Strategy Solutions</h4>
                  <p>Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty dolor site amet ne onseceruter adipiscing</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="nim-service margin-bottom">
                <i class="fa fa-tablet"></i>
                <div class="nim-service-detail">
                  <h4>Digital Design</h4>
                  <p>Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty dolor site amet ne onseceruter adipiscing</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="nim-service margin-bottom">
                <i class="fa fa-magic"></i>
                <div class="nim-service-detail">
                  <h4>SEO</h4>
                  <p>Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty dolor site amet ne onseceruter adipiscing</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="nim-service margin-bottom">
                <i class="fa fa-rocket"></i>
                <div class="nim-service-detail">
                  <h4>Graphic Design</h4>
                  <p>Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty dolor site amet ne onseceruter adipiscing</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="nim-service margin-bottom">
                <i class="fa fa-map-marker"></i>
                <div class="nim-service-detail">
                  <h4>Analystics</h4>
                  <p>Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty dolor site amet ne onseceruter adipiscing</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="nim-service margin-bottom">
                <i class="fa fa-paypal"></i>
                <div class="nim-service-detail">
                  <h4>Dedicated Support</h4>
                  <p>Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty dolor site amet ne onseceruter adipiscing</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <div class="nim-service margin-bottom">
                <i class="fa fa-bar-chart-o"></i>
                <div class="nim-service-detail">
                  <h4>Truly Multipurpose</h4>
                  <p>Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty dolor site amet ne onseceruter adipiscing</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="nim-service margin-bottom">
                <i class="fa fa-delicious"></i>
                <div class="nim-service-detail">
                  <h4>Unlimited Colors</h4>
                  <p>We put a lot of effort in design, as it’s the most important ingredient of successful website.Sed ut perspiciatis unde omnis iste natus error sit.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="nim-service margin-bottom">
                <i class="fa fa-pencil-square"></i>
                <div class="nim-service-detail">
                  <h4>Easy to customize</h4>
                  <p>Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty dolor site amet ne onseceruter adipiscing</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- [/SERVICES]============================================================================================================-->

      <!-- [CONTACT]==============================================================================================================-->
      <section class="sub-form text-center grad-wug" id="eight">
        <div class="container">
          <div class="col-md-12">
            <h3 class="title">Se inscreva para a nossa <span class="themecolor"> Newsletter</span></h3>
            <p class="lead">Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty</p>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 center-block col-sm-6 ">
              <form id="mc-form">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Email Address" required id="mc-email">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">SUBSCRIBE <i class="fa fa-envelope"></i> </button>
                  </span>
                </div>
                <label for="mc-email" id="mc-notification"></label>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- [/CONTACT]============================================================================================================-->

      <!-- [FOOTER]==============================================================================================================-->
      <footer class="site-footer section-spacing text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <ul class="social">
                <li><a href="https://twitter.com/womenupgames" target="_blank"><i class="fa fa-twitter "></i></a></li>
                <li><a href="https://www.facebook.com/womenupgames" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/womenupgames" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- [/FOOTER]===============================================================================================================-->

    </div>

    <!-- [ /WRAPPER ]=============================================================================================================-->

    <!-- [ DEFAULT SCRIPT ] -->
    <!-- <script src="library/modernizr.custom.97074.js"></script>
    <script src="library/jquery-1.11.3.min.js"></script>
    <script src="library/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script> -->
    <!-- [ PLUGIN SCRIPT ] -->
    <!-- <script src="library/vegas/vegas.min.js"></script>
    <script src="js/plugins.js"></script> -->
    <!-- [ TYPING SCRIPT ] -->
    <!-- <script src="js/typed.js"></script> -->
    <!-- [ COUNT SCRIPT ] -->
    <!-- <script src="js/fappear.js"></script>
    <script src="js/jquery.countTo.js"></script> -->
    <!-- [ SLIDER SCRIPT ] -->
    <!-- <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script> -->

    <!-- [ COMMON SCRIPT ] -->
    <!-- <script src="js/common.js"></script> -->

  </body>

</html>
