.theme_background_color,#downloadbt:hover
{
    background-color:#a2129e; /*Defines the theme bakcground color*/
}

.borderColor
{
    border-color:#000;/*Defines the color of the border*/
}
.nim-menu.navbar-default .navbar-nav > li > a:hover
 {
color:#a2129e;
}
.social li a:hover
{
    color:#a2129e;
}
.sub-footer
{
    border-top-color:#a2129e;
}

.work-desc
{
    background:#a2129e;
}
.work-desc h3
{
    color:#fff;
}


.black {
    color:#333;
}

.white
{
    color:#fff;
}
.black-background {
    background-color:#333;
}

.white-background
{
    background-color:#fff;
}

.grey
{
    color:#676565;
}
.grey_background_color
{
    background-color:#676565;
}

.sectionTitle hr
{
  border-color:#a2129e;
}

.sectionTitle .line{
    border-color:#fff;
}

.sectionTitle .line hr
{
    border-color:#dbdbdb;
}

ol.type li a:hover{ color:#a2129e;}

.ramsh-menu.navbar-default .navbar-nav > li > a:hover,a.fa.fa-angle-down:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
{
    color:#a2129e;
}

.navbar-toggle
{

 color:#a2129e;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,#contactbtn:hover {

  background:#a2129e;
}
.owl-theme .owl-controls .owl-page.active span{
  background:#a2129e;
}
