@import "variables";

.theme_background_color {
  background-color: $wug-main-color;
}

.themecolor {
  color: $wug-main-color;
}

.theme_background_color,#downloadbt:hover {
  background-color: $wug-main-color;
}

.borderColor {
  border-color: $black;
}

.nim-menu.navbar-default .navbar-nav > li > a:hover {
  color: $wug-main-color;
}

.sub-footer {
  border-top-color: $wug-main-color;
}

.work-desc {
  background:$wug-main-color;
}

.work-desc h3 {
  color: $white;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.black-background {
  background-color: $black;
}

.white-background {
  background-color: $white;
}

.grey {
  color: #676565;
}

.grey_background_color {
  background-color: #676565;
}

.sectionTitle hr {
  border-color: $wug-main-color;
}

.sectionTitle .line {
  border-color: $white;
}

.sectionTitle .line hr {
  border-color: #dbdbdb;
}

ol.type li a:hover{
  color: $wug-main-color;
}

.ramsh-menu.navbar-default .navbar-nav > li > a:hover,a.fa.fa-angle-down:hover,.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $wug-main-color;
}

.navbar-toggle {
  color: $wug-main-color;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,#contactbtn:hover {
  background: $wug-main-color;
}

.owl-theme .owl-controls .owl-page.active span{
  background: $wug-main-color;
}
