@import "variables";

.social {

  li {
    display: inline-block;
    padding-right: .5em;
    text-align: center;
    &:last-child {
      padding-right: 0;
    }
  }

  a {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: $white;
    border-radius: 50%;
    position: relative;
    transition: all .8s ease;
    font-size: 1.3em;
    background: $verylightgray;
    &:hover {
      background: $wug-main-color;
      color: $white;
    }
  }

}
